@font-face {
    font-family: 'Chalkduster';
    src:url('fonts/Chalkduster.ttf.woff') format('woff'),
        url('fonts/Chalkduster.ttf.svg#Chalkduster') format('svg'),
        url('fonts/Chalkduster.ttf.eot'),
        url('fonts/Chalkduster.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-family: 'Montserrat';
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    margin: 0;
}

body
{
    display: block;
    height: 100vh;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
    background-color: rgb(233, 205, 69);
}

.page
{
    /* scroll-snap-align: center; */
    overflow: hidden;
    position: relative;
    height: 100%;
    width: calc(100% - 10vmin);
    display: block;
}

#page2
{
    margin-top: -10vh;
}


/* 15vh 15% 110px 7em*/

#page1_banner
{
    display: block;
    height: 15%;
    background-color: #fcfcf2;
}

#page1_footer
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: block;
    height: 10%;
    width: 100%;
    background-color: #fcfcf2;
    background-image: repeating-linear-gradient(
        to right,
        black 25%,
        transparent 25%,
        transparent 75%,
        black 75%,
        black
    );
    background-size: 15vh;
}

#page2_footer
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: block;
    height: 30%;
    width: 100%;
    background-color: #fcfcf2;

    background-image: url('images/logo_red_repeat.svg');
    background-size: 20vh auto;
}

/*
 * #page2_footer
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: block;
    height: 30vh;
    width: 100%;
    background-color: #fff;
}

#page2_footer > img
{
    width: 100%;
    height: 100%;
}
*/

#sidebar
{
    position: fixed;
    right: 0;
    width: 10vmin;
    height: 100%;
    display: block;
    background-color: #ed2024;
    z-index: 9000;
}

#logo
{
    position: relative;
    height: 60%;
    display: block;
    margin: auto;
    top: 3vh;
}

.polaroid
{
    display: block;
    width: 3.5in;
    height: 4.2in;
    background: #ffffff;
    border: solid black;

    border-width: 0.25vmin 0.3vmin 0.25vmin 0.35vmin;
    border-radius:95% 4% 92% 4%/2% 95% 3% 95%;
}

.polaroid_container
{
    margin: 5%;
    display: block;
    width: 90%;
    height: 73.8%;
    border: solid black;
    overflow: hidden;

    border-width: 0.25vmin 0.3vmin 0.25vmin 0.35vmin;
    border-radius:95% 4% 92% 4%/2% 95% 3% 95%;
}

#polaroid1
{
    width: 40vmin;
    height: 48vmin;
    position: absolute;
    left: calc(50% - 8vmin);
    top: calc(50% - 34.67vmin);
    transform: rotate(-10deg);
}

#polaroid1 img
{
    position: relative;
    left: -35%;
    top: -8%;
    height: 42vmin;
    width: auto;
    transform: rotate(10deg);
}

#polaroid2
{
    width: 35vmin;
    height: 42vmin;
    position: absolute;
    left: calc(50% - 36vmin);
    top: calc(50% + 5.4vmin);
    transform: rotate(5deg);
    z-index: 5;
}

#polaroid2 img
{
    position: relative;
    left: -20%;
    height: 31vmin;
    width: auto;
}

#polaroid3
{
    width: 23vmin;
    height: 27.6vmin;
    position: absolute;
    left: calc(50% + 32.67vmin);
    top: calc(50% - 30.67vmin);
    transform: rotate(2deg);
}

#polaroid3 img
{
    position: relative;
    left: -20%;
    top: -30%;
    height: 30vmin;
    width: auto;
}

#polaroid4
{
    width: 28vmin;
    height: 33.6vmin;
    position: absolute;
    left: calc(50% + 5.33vmin);
    top: calc(50% + 10vmin);
    transform: rotate(-12deg);
    z-index: 5;
}

#polaroid4 img
{
    position: relative;
    left: -20%;
    height: 30vmin;
    width: auto;
}

#page1_text1
{
    text-align: center;
    margin: 3vmin;
    display: block;
    position: absolute;
    font-size: 3vmin;
    color: #ffffff;
    left: calc(50% - 60);
    right: calc(50% + 10vmin);
    top: calc(50% - 33vmin);
}

#page1_text2
{
    text-align: center;
    max-width: 30vmin;
    margin: 2vmin;
    display: block;
    position: absolute;
    font-size: 3.0vmin;
    color: #ffffff;
    right: calc(50% + 10vmin);
    bottom: calc(50% - 5vmin);
    transform: rotate(-10deg);
    font-family: 'Chalkduster';
}

#page1_arrow
{
    position: absolute;
    width: auto;
    height: 12vmin;
    right: calc(50% + 32vmin);
    top: calc(50% - 22vmin);
    transform: scaleX(-1) rotate(95deg);
}

#page2_text1
{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 3vmin;
    margin: auto;
    width: 70%;
    max-width: 800px;
    position: absolute;
    top: 13%;
    left: 0;
    right: 0;
    font-family: 'Montserrat';
}

#groepen
{
    display: block;
    position: absolute;
    bottom: 35%;
    left: calc(50% - 35vmin);
}

#groepen > div
{
    float: left;
}

#groepen img
{
    margin: 2vmin;
    width: 20vmin;
}

.text_leeftijd
{
    text-align: center;
}

#gieter > .text_leeftijd
{
    color: #ed2024;
}

#citroen > .text_leeftijd
{
    color: #3a53a4;
}

#bril > .text_leeftijd
{
    color: #098643;
}

#abonneer_text_bg
{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: #098643;
}

#abonneer_text
{
    position: relative;
    margin: auto;
    color: white;
    font-size: 3vmin;
    text-align: center;
    max-width: 800px;
    top: 1.5vmin;
}

#email_form
{
    display: block;
    z-index: 2;
    position: absolute;
    bottom: calc(20% - 5vmin);
    width: 50vmin;
    left: calc(50% - 25vmin);
}

#abonneer_email, #abonneer_go
{
    font-family: 'Chalkduster';
    float: left;
    margin: 0;
    padding: 0;
    font-size: 2.4vmin;
    color: #fff;
    height: 10vmin;
    background-color: rgb(233, 205, 69);
    border: none;
}

#abonneer_email
{
    width: 80%;
    padding-left: 3%;
}

#abonneer_go
{
    width: 20%;
    background-color: #ed2024;
}

@media (max-aspect-ratio: 4/6) {
    #page1_text1
    {
        left: 0;
        right: 20%;
        top: 18vh;
    }

    #page1_text2
    {
        top: 30vh;
        right: calc(50% + 10vmin);
    }

    #polaroid1
    {
        top: calc(50% - 44.67vmin);
    }

    #polaroid2
    {
        top: calc(50% + 0vmin);
    }

    #polaroid3
    {
        left: calc(50% - 10vmin);
        top: calc(50% + 40vmin);
        transform: rotate(10deg);
        z-index: 100;
    }
}
